<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>一覧</title>
</head>
<body>
    <h2>登録済み一覧</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
				<th>組織</th>
				 <th>武力</th>
                <th>知力</th>
				<th>魅力</th>
				<th>統率</th>
				<th>政務</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">ID</td> <td th:text="${user.name}">名前</td>
				<td th:text="${user.organization}">組織</td>
				<td th:text="${user.buryoku}">武力</td>
				<td th:text="${user.chiryoku}">知力</td>
				<td th:text="${user.miryoku}">魅力</td>
				<td th:text="${user.tousotsu}">統率</td>
		<td th:text="${user.seimu}">政務</td> </tr>

			



			
        </tbody>
    </table>
    
    <br>
	<a th:href="@{/}">TOPに戻る</a>
    <a th:href="@{/edit/{id}(id=${user.id})}">編集</a>
</body>
</html>
